/* root */

:root{
    --clr-primary-Green: #c5f82a;
    
    --clr-neutral-White: #ffffff;
    --clr-neutral-Grey: #333333;
    --clr-neutral-Dark-Grey: #1f1f1f;
    --clr-neutral-Off-Black: #141414;

    --ff: 'Inter', sans-serif;
    --fs-body: .875rem;
    --fs-heading: 1.375rem;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
}

/* reset */
*,
*::before,
*::after{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    line-height: 1.1;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    margin-inline: auto;
    font-style: italic;
    color: var(--clr-primary-Green);
}

a {
    color: var(--clr-neutral-White);
    text-decoration: none;
}

body {
    font-family: var(--ff);
    font-weight: var(--fw-400);
    text-align: center;
    font-size: var(--fs-body);
    color: var(--clr-neutral-White);
    background: var(--clr-neutral-Off-Black);
}

/* text styles */
.user-name {
    font-size: var(--fs-heading);
    font-weight: var(--fw-600);
    margin-bottom: .5rem;
}

.user-location {
    color: var(--clr-primary-Green);
    font-weight: var(--fw-600);
    margin-bottom: 1.5rem;
}

.list-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: .7rem;
    border-radius: .3rem;
    background: var(--clr-neutral-Grey);
    transition: background .4s ease, color .4s ease;
}

.list-item:hover {
    color: var(--clr-neutral-Off-Black);
    background: var(--clr-primary-Green);
}

/* layout Styles */
.wrapper{
    display: grid;
    place-items: center;
    min-height: 100dvh;
}

.profile-container {
    width: 25em;
    padding: 1.75rem;
    border-radius: .6rem;
    background: var(--clr-neutral-Dark-Grey);
}

.social-links {
    margin-top: 1.5rem;
}

.social-links * + * {
    margin-top: .75rem;
}

/* general styles */
.user-image {
    width: 6em;
    margin-bottom: 1.5em;
    border-radius: 50%;
}